@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

body {
    font-family: "Exo 2", sans-serif !important;
    background: #070815 !important;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  a {
    color: white !important;
    text-decoration: none !important;
  }

  p, textarea, input, strong, .ttsModalPasswordContainer, #ttsModal, .chat-container {
    color: white !important;
  }
  
  .background {
    background: linear-gradient(90deg, #0c0913 20.6px, transparent 1%) center,
      linear-gradient(#0c0913 21.6px, transparent 1%) center, #a799cc;
    background-size: 22px 22px;
    background-position: -19px -19px, 0 0;
    animation: breath 20s ease-in-out infinite;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #chat-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  #input {
    border: 2px solid rgb(242, 242, 242);
    caret-color: rgb(242, 242, 242);
    color: rgb(242, 242, 242) !important;
    -webkit-animation: inputVisibilityB 0.8s infinite alternate;
    animation: inputVisibilityB 0.8s infinite alternate;
    background: transparent;
    bottom: 32px;
    font-weight: 320;
    min-height: 32px;
    outline: none;
    padding-inline: 8px;
    padding-top: 6px;
    position: absolute;
    transition: border-color 0.1s, color 0.1s, text-shadow 0.1s,
      -webkit-transform 0.3s;
    transition: border-color 0.1s, color 0.1s, text-shadow 0.1s, transform 0.3s;
    transition: border-color 0.1s, color 0.1s, text-shadow 0.1s, transform 0.3s,
      -webkit-transform 0.3s;
    width: 240px;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 20;
    resize: none;
    padding-bottom: 10px;
  }

  #input::placeholder {
    text-align: center;
  }
  
  #input:focus {
    width: 400px; 
  }
  
  /* Animation keyframes - you need to add prefixes */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(360deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes spinthick {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes blink {
    0% {
      opacity: 0.8;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.8;
    }
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0px 0px 20px 4px #338ec2;
    }
    100% {
      box-shadow: 0px 0px 20px 4px #bb9026;
    }
  }
  
  @keyframes reverseGlow {
    0% {
      box-shadow: 0px 0px 20px 4px #bb9026;
    }
    100% {
      box-shadow: 0px 0px 20px 4px #338ec2;
    }
  }
  
  /* Loading animation container */
  .loading {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    margin: -14px 0 0 -14px;
    transition: top 0.2s linear;
  }
  
  /* Spinning circle (inner circle) */
  .loading .maskedCircle {
    width: 39px;
    height: 39px;
    border-radius: 20px;
    animation: blink 1s infinite linear;
    border: 6px solid #43d5ff;
    box-shadow: 0px 0px 20px 4px #338ec2;
    transition: all 0.2s linear;
    transform: translate(1px, -1px);
  }
  
  @keyframes color {
    from {
      border: 5px solid #43d5ff;
    }
    to {
      border: 5px solid #eeda53;
    }
  }
  
  @keyframes reverseColor {
    from {
      border: 5px solid #eeda53;
    }
    to {
      border: 5px solid #43d5ff;
    }
  }
  
  /* Spinning circle mask */
  .loading .mask {
    width: 42px;
    height: 42px;
  }
  
  /* Spinner */
  .loading .spinner {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 38px;
    height: 38px;
  }
  
  .spinline {
    position: fixed;
    top: 52px;
    right: 60px;
    width: 38px;
    height: 6px;
    background: black;
    opacity: 0.5;
    border-radius: 6px;
    box-shadow: 0 0 8px 2px;
    animation: spin 12s infinite reverse;
    color: black;
  }
  .spinline2 {
    position: fixed;
    top: 52px;
    right: 60px;
    width: 38px;
    height: 10px;
    background: black;
    animation: spinthick 4s infinite reverse;
    opacity: 0.5;
    border-radius: 6px;
    box-shadow: 0 0 15px 5px;
    color: black;
  }
  .spinline3 {
    position: fixed;
    top: 52px;
    right: 60px;
    width: 36px;
    height: 6px;
    background: black;
    animation: spinthick 2s infinite reverse;
    animation-delay: 1s;
    opacity: 0.5;
    border-radius: 6px;
    box-shadow: 0 0 20px 6px;
    color: black;
  }
  
  #message {
    transition: all 0.25s ease-in-out;
    z-index: 10;
    max-width: 60%;
  }
  
  #message * {
    transition: all 0.25s ease-in-out;
  }

  .fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  .fadeOut {
    animation: fadeOut 0.5s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes breath {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Código CSS existente omitido por simplicidade */
  
  /* Estilos para o botão de voltar */
  .back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    color: white !important;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .back-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    fill: white;
  }

  ul {
    padding-inline-start: 40px;
  }

  li {
    list-style: disc;
  }

  p {
    margin-bottom: 10px !important;
  }


@media (max-width: 768px) {
  #input:focus{
      width: 300px;
  }

  #ttsModal {
    transform: scale(0.8);
  }
  
  #ttsModalPassword {
    transform: scale(0.7);
  }
}

#ttsModal {
  display: none;
  border: 1px solid white;
  position: fixed;
  z-index: 20;
  background: black;
  transition: all 0.5s ease-in-out;
  width: 400px;
  height: 200px;
}

#ttsModal p {
  text-align: center;
  padding-top: 50px;
}

#ttsModalPassword {
  display: none;
  border: 1px solid white;
  position: fixed;
  z-index: 20;
  background: black;
  transition: all 0.5s ease-in-out;
  width: 500px;
  height: 300px;
}

#ttsModalPassword p {
  text-align: center;
  padding-top: 50px;
}

a.ttsEnableButton{
  background-color: #374d9e;
  color: #fff;
  font-family: Trebuchet MS;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 15px 25px;
  border: 0px solid #000;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
  user-select: none;
 }
 a.ttsEnableButton:hover{
  background-color: #606daa;
 }
 a.ttsEnableButton:active{
  transform: scale(0.95);
 }

 .ttsButtons {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 20px;
 }


 #ttsModalPassword input{
  border: 2px solid rgb(242, 242, 242);
  caret-color: rgb(242, 242, 242);
  color: rgb(242, 242, 242);
  -webkit-animation: inputVisibilityB 0.8s infinite alternate;
  animation: inputVisibilityB 0.8s infinite alternate;
  background: transparent;
  bottom: 32px;
  font-weight: 320;
  min-height: 32px;
  outline: none;
  padding-inline: 8px;
  padding-top: 6px;
  transition: border-color 0.1s, color 0.1s, text-shadow 0.1s, -webkit-transform 0.3s;
  transition: border-color 0.1s, color 0.1s, text-shadow 0.1s, transform 0.3s;
  transition: border-color 0.1s, color 0.1s, text-shadow 0.1s, transform 0.3s, -webkit-transform 0.3s;
  width: 240px;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 20;
  resize: none;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
 }

 .ttsModalPasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
.alert>.start-icon {
  margin-right: 0;
  min-width: 20px;
  text-align: center;
}

.alert>.start-icon {
  margin-right: 5px;
}

.alert-simple.alert-success
{
border: 1px solid rgba(36, 241, 6, 0.46);
  background-color: rgba(7, 149, 66, 0.12156862745098039);
  box-shadow: 0px 0px 2px #259c08;
  color: #0ad406;
text-shadow: 2px 1px #00040a;
transition:0.5s;
cursor:pointer;
}
.alert-success:hover{
background-color: rgba(7, 149, 66, 0.35);
transition:0.5s;
}
.alert-simple.alert-info
{
border: 1px solid rgba(6, 44, 241, 0.46);
  background-color: rgba(7, 73, 149, 0.12156862745098039);
  box-shadow: 0px 0px 2px #0396ff;
  color: #0396ff;
text-shadow: 2px 1px #00040a;
transition:0.5s;
cursor:pointer;
}

.warning-notification {
  z-index: 50;
  position: fixed;
  display: none;
  top: 30px;
  right: 20px;
  backdrop-filter: blur(3px);
}

.alert:before {
  content: '';
  position: absolute;
  width: 0;
  height: calc(100% - 44px);
  border-left: 1px solid;
  border-right: 2px solid;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  left: 0;
  top: 50%;
  transform: translate(0,-50%);
    height: 20px;
}


.square_box {
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-left-radius: 45px;
  opacity: 0.302;
}

.square_box.box_three {
  background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  opacity: 0.059;
  left: -80px;
  top: -60px;
  width: 500px;
  height: 500px;
  border-radius: 45px;
}

.square_box.box_four {
  background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  opacity: 0.059;
  left: 150px;
  top: -25px;
  width: 550px;
  height: 550px;
  border-radius: 45px;
}


.alert-simple.alert-danger
{
  border: 1px solid rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 17, 1, 0.16);
    box-shadow: 0px 0px 2px #ff0303;
    color: #ff0303;
    text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.alert-danger:hover
{
     background-color: rgba(220, 17, 1, 0.33);
  transition:0.5s;
}

.danger
{
      font-size: 18px;
    color: #ff0303;
    text-shadow: none;
}

#closePasswordModal {
  position: absolute;
  right: 30px;
  top: 25px;
  transform: scale(1.3);
  border: 0;
}

#overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.alert:before {
  content: '';
  position: absolute;
  width: 0;
  height: calc(100% - 44px);
  border-left: 1px solid;
  border-right: 2px solid;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  left: 0;
  top: 50%;
  transform: translate(0,-50%);
    height: 20px;
}

.greencross
{
  font-size:18px;
      color: #25ff0b;
    text-shadow: none;
}

.alert-simple.alert-success
{
  border: 1px solid rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12156862745098039);
    box-shadow: 0px 0px 2px #259c08;
    color: #0ad406;
  text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}
.alert-success:hover{
  background-color: rgba(7, 149, 66, 0.35);
  transition:0.5s;
}

.alert-dismissible .close {
  padding: 1rem 1.25rem !important;
}

.alert-simple.alert-warning
{
      border: 1px solid rgba(241, 142, 6, 0.81);
    background-color: rgba(220, 128, 1, 0.16);
    box-shadow: 0px 0px 2px #ffb103;
    color: #ffb103;
    text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.alert-warning:hover{
  background-color: rgba(220, 128, 1, 0.33);
  transition:0.5s;
}

.warning
{
      font-size: 18px;
    color: #ffb40b;
    text-shadow: none;
}
