@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");

body *:not(#background *, .loading-container *) {
  animation: fadeIn 0.5s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body {
  font-family: "Exo 2", sans-serif !important;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: rgb(16, 21, 29);
  background-image: radial-gradient(500px 200px at 50% 0, #131f33 20%, rgba(19, 30, 49, 0) 100%);
}

a {
  color: white !important;
  text-decoration: none !important;
}

p,
textarea,
table,
input,
strong,
.ttsModalPasswordContainer,
#settingsModal,
.chat-container {
  color: white !important;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 70%;
  max-height: 70%;
  overflow-y: auto;
  --mask: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 95%, rgba(255,255,255,0) 100%);
  -webkit-mask: var(--mask); 
  mask: var(--mask);
}

#chat-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: fixed;
  bottom: 2.3rem;
  flex-direction: row-reverse;
}

#input {
  border: 2px solid rgb(42, 55, 74);
  caret-color: white;
  color: white !important;
  background: rgba(22, 30, 41, 0.3);
  font-weight: 320;
  min-height: 32px;
  outline: none;
  padding-inline: 8px;
  padding-top: 6px;
  width: 480px;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 20;
  resize: none;
  padding-bottom: 10px;
  backdrop-filter: blur(2px);
  align-self: center;
}

#input span {
  color: white !important;
  font-weight: 320;
}

#input::placeholder {
  text-align: center;
}

#input:focus {
  border: 2px solid; /* Set your border width */
  border-image: linear-gradient(133.61deg, #a87ffb 17.33%, #25a6e9 100.47%);
  border-image-slice: 1; /* Ensures the entire border is covered by the gradient */
}

#input::after {
  background-image: linear-gradient(133.61deg, #a87ffb 17.33%, #25a6e9 100.47%);
  filter: blur(10px);
}

/* Animation keyframes - you need to add prefixes */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes spinthick {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 20px 4px #338ec2;
  }
  100% {
    box-shadow: 0px 0px 20px 4px #bb9026;
  }
}

@keyframes reverseGlow {
  0% {
    box-shadow: 0px 0px 20px 4px #bb9026;
  }
  100% {
    box-shadow: 0px 0px 20px 4px #338ec2;
  }
}

/* Loading animation container */
.loading {
  position: fixed;
  top: 50px;
  right: 58px;
  width: 42px;
  height: 42px;
  margin: -14px 0 0 -14px;
  transition: top 0.2s linear;
}

/* Spinning circle (inner circle) */
.loading .maskedCircle {
  width: 39px;
  height: 39px;
  border-radius: 20px;
  animation: blink 1s infinite linear;
  border: 6px solid #43d5ff;
  box-shadow: 0px 0px 20px 4px #338ec2;
  transition: all 0.2s linear;
  transform: translate(1px, -1px);
}

@keyframes color {
  from {
    border: 5px solid #43d5ff;
  }
  to {
    border: 5px solid #eeda53;
  }
}

@keyframes reverseColor {
  from {
    border: 5px solid #eeda53;
  }
  to {
    border: 5px solid #43d5ff;
  }
}

/* Spinning circle mask */
.loading .mask {
  width: 42px;
  height: 42px;
}

/* Spinner */
.loading .spinner {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 38px;
  height: 38px;
}

.spinline {
  position: fixed;
  top: 52px;
  right: 60px;
  width: 38px;
  height: 6px;
  background: black;
  opacity: 0.5;
  border-radius: 6px;
  box-shadow: 0 0 8px 2px;
  animation: spin 12s infinite reverse;
  color: black;
}
.spinline2 {
  position: fixed;
  top: 52px;
  right: 60px;
  width: 38px;
  height: 10px;
  background: black;
  animation: spinthick 4s infinite reverse;
  opacity: 0.5;
  border-radius: 6px;
  box-shadow: 0 0 15px 5px;
  color: black;
}
.spinline3 {
  position: fixed;
  top: 52px;
  right: 60px;
  width: 36px;
  height: 6px;
  background: black;
  animation: spinthick 2s infinite reverse;
  animation-delay: 1s;
  opacity: 0.5;
  border-radius: 6px;
  box-shadow: 0 0 20px 6px;
  color: black;
}

#message {
  transition: all 0.25s ease-in-out;
  z-index: 10;
  max-height: 100%;
}

#message * {
  transition: all 0.25s ease-in-out;
}

.fadeIn {
  animation: fadeIn 0.2s ease-in-out forwards;
}

.fadeOut {
  animation: fadeOut 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(-8px);
  }
}

@keyframes breath {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Código CSS existente omitido por simplicidade */

/* Estilos para o botão de voltar */
.back-button {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  color: white !important;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 20;
}

.back-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  fill: white;
}

ul, ol {
    padding-inline-start: 20px !important;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}

li {
  list-style: disc;
}

p {
  margin-bottom: 10px !important;
}

@media (max-width: 600px) {
    #input {
    width: 240px;
  }
}

@media (max-width: 768px) {
  #settingsModal {
    width: 350px !important;
  }

  #ttsModalPassword {
    width: 350px !important;
  }

  #history {
    width: 65% !important;
  }

  .chat-container {
    width: 100% !important;
  }

  #aiMessage, #userMessage {
    margin-right: 0 !important;
    margin-left: 0 !important;
    max-width: 90% !important;
  }
}

#ttsModalPassword {
  display: none;
  position: fixed;
  z-index: 25;
  transition: all 0.5s ease-in-out;
  width: 500px;
  padding: 50px;
}

#ttsModalPassword p {
  text-align: center;
}

#ttsModalPassword input {
  background-color: #0d0a1c;
  border: solid 1px #4f4789;
  caret-color: rgb(242, 242, 242);
  color: rgb(242, 242, 242);
  -webkit-animation: inputVisibilityB 0.8s infinite alternate;
  animation: inputVisibilityB 0.8s infinite alternate;
  background: transparent;
  bottom: 32px;
  font-weight: 320;
  min-height: 32px;
  outline: none;
  padding-inline: 8px;
  padding-top: 6px;
  transition: border-color 0.1s, color 0.1s, text-shadow 0.1s,
    -webkit-transform 0.3s;
  transition: border-color 0.1s, color 0.1s, text-shadow 0.1s, transform 0.3s;
  transition: border-color 0.1s, color 0.1s, text-shadow 0.1s, transform 0.3s,
    -webkit-transform 0.3s;
  width: 240px;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 20;
  resize: none;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ttsModalPasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  display: flex;
  position: fixed;
  margin: 20;
  right: 0;
  top: 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  transition: all 0.5s ease;
  z-index: 200;
}

.close-btn {
  align-self: center;
}

.info-msg {
  border: 1px solid rgba(6, 44, 241, 0.46);
  color: #0396ff;
  background-color: rgba(7, 73, 149, 0.16);
}
.info-msg:hover {
  background-color: rgba(7, 73, 149, 0.35);
}
.info-msg .close-btn {
    color: #0396ff;
}

.success-msg {
  border: 1px solid rgba(36, 241, 6, 0.46);
  color: #0ad406;
  background-color: rgba(7, 149, 66, 0.16);
}
.success-msg:hover {
  background-color: rgba(7, 149, 66, 0.35);
}
.success-msg .close-btn {
  color: #0ad406;
}

.warning-msg {
  border: 1px solid rgba(241, 142, 6, 0.81);
  color: #ffb103;
  background-color: rgba(220, 128, 1, 0.16);
}
.warning-msg:hover {
  background-color: rgba(220, 128, 1, 0.33);
}
.warning-msg .close-btn {
  color: #ffb103;
}

.error-msg {
  border: 1px solid rgba(241, 6, 6, 0.81);
  color: #ff0303;
  background-color: rgba(220, 17, 1, 0.16);
}
.error-msg:hover {
   background-color: rgba(220, 17, 1, 0.33);
}
.error-msg .close-btn {
  color: #ff0303;
}

#messageContainer i, #messageContainer strong, #messageContainer p {
    padding-inline: 5px;
    align-self: center;
    text-align: center;
    margin: 0 !important;
}

#closePasswordModal {
  position: absolute;
  right: 30px;
  top: 25px;
  transform: scale(1.3);
  border: 0;
  cursor: pointer;
}

#closeSettingsModal {
  position: absolute;
  right: 30px;
  top: 25px;
  transform: scale(1.3);
  border: 0;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#settingsModal {
  display: none;
  position: fixed;
  z-index: 21;
  transition: all 0.5s ease-in-out;
  width: 600px;
  padding: 20px;
}

#settingsModal h1 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#ttsSettings {
  display: flex;
}

.checkbox-wrapper-51 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-51 .toggle {
  position: relative;
  display: block;
  width: 42px;
  height: 24px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-51 .toggle:before {
  content: "";
  position: relative;
  top: 1px;
  left: 1px;
  width: 40px;
  height: 22px;
  display: block;
  background: #c8ccd4;
  border-radius: 12px;
  transition: background 0.2s ease;
}

.checkbox-wrapper-51 .toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  display: block;
  background: #fff;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.checkbox-wrapper-51 .toggle span svg {
  margin: 7px;
  fill: none;
}

.checkbox-wrapper-51 .toggle span svg path {
  stroke: #c8ccd4;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 24;
  stroke-dashoffset: 0;
  transition: all 0.5s linear;
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle:before {
  background: #1175c7;
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span {
  transform: translateX(18px);
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span path {
  stroke: #000000;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
}

.ttsSettingsText {
  display: flex;
  align-items: center;
}

.ttsSettingsText p {
  margin-inline: 0.5rem;
}

.btn_ {
  font-size: 14px;
  color: #fff;
  background-color: #10151D;
  padding: 10px 30px;
  border: solid 1px #232E3F;
  border-radius: 1px;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
}

.btn_:hover {
  transition: all 0.2s ease-in-out;
  padding: 10px 30px;
  background-color: #141824;
  color: #ffffff;
  border: solid 1px #8969CD;
}

#clearHistory {
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  border: solid 2px red;
}

#clearHistory {
  border: solid 2px red;
}

#clearHistory:hover {
  box-shadow: inset red 0px 0px 10px 3px, red 0px 0px 10px 3px;
}

#clearHistory:active {
  border: solid 2px red;
  box-shadow: inset red 0px 0px 13px 6px, red 0px 0px 13px 6px;
  transition: all 0s ease-in-out;
}

.loading-container {
  cursor: pointer;
}

#overlay2 {
  z-index: 1 !important;
}

.modals {
  background-color: #10151D;
  border: solid 1px #232E3F;
}

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  color: #999;
  position: relative;
  top: 0px;
  /*
    For IE only, do this:
    position: absolute;
    top: 10px;
    */
  cursor: text;
}

pre {
  border: solid #30363d 1px;
  background: #161b22;
  color: white;
  padding: 16px;
  font-size: 85%;
  position: relative;
}

.pre-wrapper {
  position: relative;
}
.pre-wrapper pre {
  padding-top: 25px;
}
.pre-wrapper .copy-snippet {
  border-radius: 0;
  min-width: 55px;
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #bbb;
  color: #26589f;
  font-family: "HELEVETICA", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42rem;
  margin: 0;
  padding: 0px 5px;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  position: absolute;
  background: #ccc;
  top: 0;
  left: 0;
}
.pre-wrapper .copy-snippet:disabled {
  color: #555;
}

.copy-button {
  width: 1.2rem;
  height: 1.2rem;
  margin: 8px;
  position: absolute;
  top: 0;
  right: 0;
}

.copy-button svg {
  fill: white;
  transition: all 0.1s ease-in !important;
}

.copy-button svg:hover {
  fill: rgb(109, 109, 109);
}

#message a {
  color: #2f81f7 !important;
  font-weight: 600 !important;
}

#message a:hover {
  text-decoration: underline !important;
}

#message img {
  width: 10rem;
  margin: 0 auto;
  border: solid 1px white;
}

#history {
  flex-direction: column;
  color: white !important;
  margin-top: 30px;
  width: 80%;
  margin-bottom: 40px;
}

#aiMessage {
  align-self: flex-start;
  margin-right: 30%;
  background-color: #141824;
  border: solid 1px #8969CD;
}

#userMessage {
  align-self: flex-end;
  margin-left: 30%;
  background-color: #10151D;
  border: solid 1px #232E3F;
}

.messageGroup {
  display: flex;
  flex-direction: column;
}

#userMessage,
#aiMessage {
  min-width: 10rem;
  max-width: 75%;
  padding: 8px;
  margin-bottom: 8px;
  flex-direction: column;
}

#aiProfile {
  background: url(./images/stella.jpg);
  content: "";
  width: 48px;
  height: 48px;
  right: 60;
  top: 15;
  position: relative;
  background-size: contain;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

#userProfile {
  align-self: flex-end;
  background: url(./images/user.svg);
  content: "";
  width: 48px;
  height: 48px;
  left: 60;
  top: 15;
  position: relative;
  background-size: contain;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

#aiProfile::after {
  transform: translate(60px, -10px);
  content: ".";
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 0;
  border-radius: 11px;
  background-color: #141824;
  border: solid 2px #8969CD;
  position: relative;
  display: block;
  color: #141824;
  -webkit-text-stroke: 2px #8969CD;
  font-family: system-ui;
  text-align: left;
  font-size: 70px;
  left: 0;
  transition: all 0.5s ease;
}

#userProfile::after {
  transform: translate(-60px, -10px);
  content: ".";
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 0;
  border-radius: 11px;
  background-color: #10151D;
  border: solid 2px #232E3F;
  position: absolute;
  display: block;
  color: #10151D;
  -webkit-text-stroke: 2px #232E3F;
  font-family: system-ui;
  text-align: right;
  font-size: 70px;
  right: 0;
  transition: all 0.5s ease;
}

#submit {
  width: 45px;
  height: auto;
  border-radius: 50%;
  position: relative;
  margin: 20px;
  transition: all 0.5s ease;
  pointer-events: auto !important;
}

#submit svg {
  width: 100%;
  height: 100%;
}

#submit::after {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  content: '';
  border-radius: 50%;
  filter: blur(8px);
  background-image: linear-gradient(133.61deg,#a87ffb 17.33%,#25a6e9 100.47%);
  z-index: -1; 
  transition: all 0.5s ease;
}

#submit:hover::after {
  opacity: 1;
  width: 100%;
  height: 100%;
  animation: submitButton 10s ease infinite;
}

@keyframes submitButton {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
