@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    transition: all 1s ease 0s;
}

::-webkit-scrollbar-corner {
    background: none;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(127, 127, 127, 0.6);
    background-clip: padding-box;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 5px;
    transition: all 1s ease 0s;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    font-family: "Exo 2", sans-serif !important;
    background: #070815 !important;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  a {
    color: white !important;
    text-decoration: none !important;
  }

  p, textarea, input, strong, .ttsModalPasswordContainer, #settingsModal, .chat-container {
    color: white !important;
  }
  
  .background {
    background: linear-gradient(90deg, #0c0913 20.6px, transparent 1%) center,
      linear-gradient(#0c0913 21.6px, transparent 1%) center, #a799cc;
    background-size: 22px 22px;
    background-position: -19px -19px, 0 0;
    animation: breath 20s ease-in-out infinite;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 70%;
  }
  
  #chat-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    overflow: hidden;
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: fixed;
    bottom: 2.3rem;
    flex-direction: row-reverse;
}
  
  #input {
    border: 2px solid rgb(242, 242, 242);
    caret-color: rgb(242, 242, 242);
    color: rgb(242, 242, 242) !important;
    -webkit-animation: inputVisibilityB 0.8s infinite alternate;
    animation: inputVisibilityB 0.8s infinite alternate;
    background: rgba(0, 0, 0, 0.263);
    bottom: 32px;
    font-weight: 320;
    min-height: 32px;
    outline: none;
    padding-inline: 8px;
    padding-top: 6px;
    transition: border-color 0.1s, color 0.1s, text-shadow 0.1s,
      -webkit-transform 0.3s;
    transition: border-color 0.1s, color 0.1s, text-shadow 0.1s, transform 0.3s;
    transition: border-color 0.1s, color 0.1s, text-shadow 0.1s, transform 0.3s,
      -webkit-transform 0.3s;
    width: 240px;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 20;
    resize: none;
    padding-bottom: 10px;
    backdrop-filter: blur(2px);
  }

  #input span{
    color: white !important;
    font-weight: 320;
  }

  #input::placeholder {
    text-align: center;
  }
  
  #input:focus {
    width: 400px; 
  }
  
  /* Animation keyframes - you need to add prefixes */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(360deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes spinthick {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes blink {
    0% {
      opacity: 0.8;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.8;
    }
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0px 0px 20px 4px #338ec2;
    }
    100% {
      box-shadow: 0px 0px 20px 4px #bb9026;
    }
  }
  
  @keyframes reverseGlow {
    0% {
      box-shadow: 0px 0px 20px 4px #bb9026;
    }
    100% {
      box-shadow: 0px 0px 20px 4px #338ec2;
    }
  }
  
/* Loading animation container */
.loading {
    position: fixed;
    top: 50px;
    right: 58px;
    width: 42px;
    height: 42px;
    margin: -14px 0 0 -14px;
    transition: top 0.2s linear;
}
  
  /* Spinning circle (inner circle) */
  .loading .maskedCircle {
    width: 39px;
    height: 39px;
    border-radius: 20px;
    animation: blink 1s infinite linear;
    border: 6px solid #43d5ff;
    box-shadow: 0px 0px 20px 4px #338ec2;
    transition: all 0.2s linear;
    transform: translate(1px, -1px);
  }
  
  @keyframes color {
    from {
      border: 5px solid #43d5ff;
    }
    to {
      border: 5px solid #eeda53;
    }
  }
  
  @keyframes reverseColor {
    from {
      border: 5px solid #eeda53;
    }
    to {
      border: 5px solid #43d5ff;
    }
  }
  
  /* Spinning circle mask */
  .loading .mask {
    width: 42px;
    height: 42px;
  }
  
  /* Spinner */
  .loading .spinner {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 38px;
    height: 38px;
  }
  
  .spinline {
    position: fixed;
    top: 52px;
    right: 60px;
    width: 38px;
    height: 6px;
    background: black;
    opacity: 0.5;
    border-radius: 6px;
    box-shadow: 0 0 8px 2px;
    animation: spin 12s infinite reverse;
    color: black;
  }
  .spinline2 {
    position: fixed;
    top: 52px;
    right: 60px;
    width: 38px;
    height: 10px;
    background: black;
    animation: spinthick 4s infinite reverse;
    opacity: 0.5;
    border-radius: 6px;
    box-shadow: 0 0 15px 5px;
    color: black;
  }
  .spinline3 {
    position: fixed;
    top: 52px;
    right: 60px;
    width: 36px;
    height: 6px;
    background: black;
    animation: spinthick 2s infinite reverse;
    animation-delay: 1s;
    opacity: 0.5;
    border-radius: 6px;
    box-shadow: 0 0 20px 6px;
    color: black;
  }
  
  #message {
    transition: all 0.25s ease-in-out;
    z-index: 10;
    max-height: 100%;
  }
  
  #message * {
    transition: all 0.25s ease-in-out;
  }

  .fadeIn {
    animation: fadeIn 0.2s ease-in-out forwards;
  }

  .fadeOut {
    animation: fadeOut 0.2s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0px);
    }
  
    to {
      opacity: 0;
      transform: translateY(-8px);
    }
  }
  
  @keyframes breath {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Código CSS existente omitido por simplicidade */
  
  /* Estilos para o botão de voltar */
  .back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    color: white !important;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 20;
  }
  
  .back-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    fill: white;
  }

  ul {
    padding-inline-start: 40px;
  }

  li {
    list-style: disc;
  }

  p {
    margin-bottom: 10px !important;
  }


@media (max-width: 800px) {
  #input:focus{
      width: 240px;
  }

  #settingsModal {
    width: 350px !important;
  }
  
  #ttsModalPassword {
    width: 350px !important;
  }

  .chat-container {
		width: 90%;
	}
}

#ttsModalPassword {
  display: none;
  position: fixed;
  z-index: 25;
  transition: all 0.5s ease-in-out;
  width: 500px;
  padding: 50px;
}

#ttsModalPassword p {
  text-align: center;
}


 #ttsModalPassword input{
  background-color: #0d0a1c;
  border: solid 1px #4F4789;
  caret-color: rgb(242, 242, 242);
  color: rgb(242, 242, 242);
  -webkit-animation: inputVisibilityB 0.8s infinite alternate;
  animation: inputVisibilityB 0.8s infinite alternate;
  background: transparent;
  bottom: 32px;
  font-weight: 320;
  min-height: 32px;
  outline: none;
  padding-inline: 8px;
  padding-top: 6px;
  transition: border-color 0.1s, color 0.1s, text-shadow 0.1s, -webkit-transform 0.3s;
  transition: border-color 0.1s, color 0.1s, text-shadow 0.1s, transform 0.3s;
  transition: border-color 0.1s, color 0.1s, text-shadow 0.1s, transform 0.3s, -webkit-transform 0.3s;
  width: 240px;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 20;
  resize: none;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
 }

 .ttsModalPasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
.alert>.start-icon {
  margin-right: 0;
  min-width: 20px;
  text-align: center;
}

.alert>.start-icon {
  margin-right: 5px;
}

.alert-simple.alert-success
{
border: 1px solid rgba(36, 241, 6, 0.46);
  background-color: rgba(7, 149, 66, 0.12156862745098039);
  box-shadow: 0px 0px 2px #259c08;
  color: #0ad406;
text-shadow: 2px 1px #00040a;
transition:0.5s;
cursor:pointer;
}
.alert-success:hover{
background-color: rgba(7, 149, 66, 0.35);
transition:0.5s;
}
.alert-simple.alert-info
{
border: 1px solid rgba(6, 44, 241, 0.46);
  background-color: rgba(7, 73, 149, 0.12156862745098039);
  box-shadow: 0px 0px 2px #0396ff;
  color: #0396ff;
text-shadow: 2px 1px #00040a;
transition:0.5s;
cursor:pointer;
}

.warning-notification {
  z-index: 50 !important;
  position: fixed;
  display: none;
  top: 10px;
  right: 0px;
  backdrop-filter: blur(3px);
  margin: 20px;
}

.alert:before {
  content: '';
  position: absolute;
  width: 0;
  height: calc(100% - 44px);
  border-left: 1px solid;
  border-right: 2px solid;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  left: 0;
  top: 50%;
  transform: translate(0,-50%);
    height: 20px;
}


.square_box {
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-left-radius: 45px;
  opacity: 0.302;
}

.square_box.box_three {
  background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  opacity: 0.059;
  left: -80px;
  top: -60px;
  width: 500px;
  height: 500px;
  border-radius: 45px;
}

.square_box.box_four {
  background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  opacity: 0.059;
  left: 150px;
  top: -25px;
  width: 550px;
  height: 550px;
  border-radius: 45px;
}


.alert-simple.alert-danger
{
  border: 1px solid rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 17, 1, 0.16);
    box-shadow: 0px 0px 2px #ff0303;
    color: #ff0303;
    text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.alert-danger:hover
{
     background-color: rgba(220, 17, 1, 0.33);
  transition:0.5s;
}

.danger
{
  font-size: 18px;
  color: #ff0303;
  text-shadow: none;
  cursor: pointer;
}

#closePasswordModal {
  position: absolute;
  right: 30px;
  top: 25px;
  transform: scale(1.3);
  border: 0;
  cursor: pointer;
}

#closeSettingsModal {
  position: absolute;
  right: 30px;
  top: 25px;
  transform: scale(1.3);
  border: 0;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.alert:before {
  content: '';
  position: absolute;
  width: 0;
  height: calc(100% - 44px);
  border-left: 1px solid;
  border-right: 2px solid;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  left: 0;
  top: 50%;
  transform: translate(0,-50%);
    height: 20px;
}

.greencross
{
  font-size:18px;
  color: #25ff0b;
  text-shadow: none;
  cursor: pointer;
}

.alert-simple.alert-success
{
  border: 1px solid rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12156862745098039);
    box-shadow: 0px 0px 2px #259c08;
    color: #0ad406;
  text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}
.alert-success:hover{
  background-color: rgba(7, 149, 66, 0.35);
  transition:0.5s;
}

.alert-dismissible .close {
  padding: 1rem 1.25rem !important;
  cursor: pointer;
}

.alert-simple.alert-warning
{
      border: 1px solid rgba(241, 142, 6, 0.81);
    background-color: rgba(220, 128, 1, 0.16);
    box-shadow: 0px 0px 2px #ffb103;
    color: #ffb103;
    text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.alert-warning:hover{
  background-color: rgba(220, 128, 1, 0.33);
  transition:0.5s;
}

.warning
{
  font-size: 18px;
  color: #ffb40b;
  text-shadow: none;
  cursor: pointer;
}

#settingsModal {
  display: none;
  position: fixed;
  z-index: 21;
  transition: all 0.5s ease-in-out;
  width: 600px;
  padding: 20px;
}

#settingsModal h1 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#ttsSettings {
  display: flex;
}

.checkbox-wrapper-51 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-51 .toggle {
  position: relative;
  display: block;
  width: 42px;
  height: 24px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-51 .toggle:before {
  content: "";
  position: relative;
  top: 1px;
  left: 1px;
  width: 40px;
  height: 22px;
  display: block;
  background: #c8ccd4;
  border-radius: 12px;
  transition: background 0.2s ease;
}

.checkbox-wrapper-51 .toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  display: block;
  background: #fff;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.checkbox-wrapper-51 .toggle span svg {
  margin: 7px;
  fill: none;
}

.checkbox-wrapper-51 .toggle span svg path {
  stroke: #c8ccd4;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 24;
  stroke-dashoffset: 0;
  transition: all 0.5s linear;
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle:before {
  background: #1175c7;
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span {
  transform: translateX(18px);
}

.checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span path {
  stroke: #000000;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
}

.ttsSettingsText {
  display: flex;
  align-items: center;
}

.ttsSettingsText p {
  margin-inline: .5rem;
}

.alert-simple.alert-info
{
  border: 1px solid rgba(6, 44, 241, 0.46);
    background-color: rgba(7, 73, 149, 0.12156862745098039);
    box-shadow: 0px 0px 2px #0396ff;
    color: #0396ff;
  text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.alert-info:hover
{
  background-color: rgba(7, 73, 149, 0.35);
  transition:0.5s;
}

.blue-cross
{
  font-size: 18px;
  color: #0bd2ff;
  text-shadow: none;
  cursor: pointer;
}

.btn_{
  font-size: 14px;
  color: #fff;
  background-color: #ffffff00;
  padding: 10px 30px;
  border: 2px solid #ffffff;
  border-radius: 1px;
  transition : all .2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
  }
  
.btn_:hover{  
  transition : all .2s ease-in-out;
  padding: 10px 30px;
  background-color: #ffffff00;
  color: #ffffff;
  border: solid 2px #7b00ff;
  }

.btn_:active{  
  transition : all .2s ease-in-out;
  padding: 10px 30px;
  background-color: #ffffff00;
  color: #ffffff;
  border: solid 2px #7b00ff;
}

#clearHistory {
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  border: solid 2px red;
}

#clearHistory {
  border: solid 2px red;
}

#clearHistory:hover {
  box-shadow: inset red 0px 0px 10px 3px,  red 0px 0px 10px 3px;
}

#clearHistory:active {
  border: solid 2px red;
  box-shadow: inset red 0px 0px 13px 6px,  red 0px 0px 13px 6px;
  transition: all 0s ease-in-out;
}

.loading-container {
  cursor: pointer;
}

#overlay2 {
  z-index: 1 !important;
}

.modals {
  background-color: #0d0a1c;
  border: solid 1px #4F4789;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  color: #999;
  position: relative;
  top: 0px;
  /*
    For IE only, do this:
    position: absolute;
    top: 10px;
    */
  cursor: text;
}

pre {
  border: solid #30363D 1px;
  background: #161b22;
  color: white;
  padding: 16px;
  font-size: 85%;
  position: relative;
}

.pre-wrapper{
	position:relative;
}
.pre-wrapper pre{
	padding-top: 25px;
}
.pre-wrapper .copy-snippet {
	border-radius: 0;
	min-width:55px;
	background: none repeat scroll 0 0 transparent;
	border: 1px solid #bbb;
	color: #26589F;
	font-family: 'HELEVETICA',sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.42rem;
	margin: 0;
	padding: 0px 5px;
	text-align: center;
	text-decoration: none;
	text-indent: 0;
	position:absolute;
	background:#ccc;
	top:0;
	left:0;
}
.pre-wrapper .copy-snippet:disabled{
	color:#555;
}

.copy-button {
  width: 1.2rem;
  height: 1.2rem;
  margin: 8px;
  position: absolute;
  top: 0;
  right: 0;
}

.copy-button svg {
  fill: white;
  transition: all 0.1s ease-in !important;
}

.copy-button svg:hover {
  fill: rgb(109, 109, 109);
}

#message a {
  color: #2f81f7 !important;
  font-weight: 600 !important;
}

#message a:hover{
  text-decoration: underline !important;
}

#message img {
  width: 10rem;
  margin: 0 auto;
  border: solid 1px white;
}

#history {
  flex-direction: column;
  color: white !important;
  margin-top: 20px;
  overflow-y: scroll;
  width: 100%;
  height: 70%;
}

#aiMessage {
  align-self: flex-start;
  margin-right: 30%;

}

#userMessage {
  align-self: flex-end;
  margin-left: 30%;
}

.messageGroup {
  display: flex;
  flex-direction: column;

}

#userMessage, #aiMessage {
  min-width: 10rem;
  max-width: 75%;
  background-color: #0d0a1c;
  border: solid 1px #4F4789;
  padding: 8px;
  margin-bottom: 8px;
  flex-direction: column;
}

#submit {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#submit:hover{
  transform: scale(1.1);
}

#submit svg {
  transition: all 0.2s ease-in-out;
  width: auto;
  height: 100%;
}
